<div
    class="gridItem"
    [style.width.px]="(width >= 32 ? width - 5 : width) - 2"
    [style.padding-left.px]="width >= 32 ? 5 : 0"
    [style.color]="eventItem.color ? eventItem.color : 'black'"
    [style.background-color]="eventItem.backgroundColor ? eventItem.backgroundColor : 'blue'"
    [style.height.px]="height - 1"
    calendarTooltip
    [eventItem]="eventItem"
    placement="top"
    [delay]="300"
    [left]="gridPosition.pseudoLeft! + 1"
    [pseudoStart]="gridPosition.pseudoStart"
    [pseudoEnd]="gridPosition.pseudoEnd"
    [top]="gridPosition.pseudoTop!"
>
    @if (width >= 32) {
        {{eventItem.showedName}}
    } @else {
    }
</div>
