<div style="position: relative; margin: 0" [style.height.px]="totalHeight" #container>
    <svg #dynamicGrid width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
    </svg>
        @for (item of gridPositions; track item.eventIndex; let idx = $index) {
            @if (item.width) {
                <calendar-grid-item
                    cdkDrag
                    (cdkDragMoved)="dragMove($event, idx)"
                    (cdkDragEnded)="dragEnd($event, idx)"
                    [cdkDragFreeDragPosition]="dragPosition"
                    class="calendarItem"
                    [eventItem]="eventItems[idx]"
                    [gridPosition]="item"
                    [width]="item.width!"
                    [height]="20"
                    [style.top.px]="item.top"
                    [style.left.px]="item.left"
                    [style.z-index]="item.zIndex === 1 ? 10 : ''"
                    [style.cursor]="item.cursor!"
                ></calendar-grid-item>
            }
        }

    @for (array of groupPositions; track array) {
        @for (groupItem of array; track groupItem) {
            <group-event-preview
                class="groupItem"
                [width]="groupItem.width!"
                [height]="5"
                [color]="groupItem.color"
                [style.top.px]="groupItem.top!"
                [style.left.px]="groupItem.left"
            >
            </group-event-preview>
        }
    }

</div>
