.calendarItem {
    z-index: 2;
    position: absolute;
}

.container {
    position: relative;
    margin: 0;
}

.calendarItem:hover {
    z-index: 10;
}

.groupItem {
    z-index: 2;
    position: absolute;
}
