<div class="container">
    <app-calendar-header
        class="header"
        [periods]="periods"
        [currentPeriod]="currentPeriod!"
        [start]="start"
        [utc]="utc"
        [dayShort]="dayShort"
        [monthShort]="monthShort"
        (timeFrameEvent)="changeTimeFrame($event)"
        (periodChangeEvent)="changePeriod($event)"
    > </app-calendar-header>
    <div class="calendarContainer">
        <div #scrollHorizontal class="sidenav" [ngClass]="showPersons ? 'openSidenav' : 'closedSidenav'">
            <div class="sidenavHeader" [style.height.px]="(timeFrameHeaders!.bigHeader.length !== 0 ? 80 : 40)">
                <button (click)="toggleSidebar()" class="toggleSidenav" mat-button>
                    @if (showPersons) {
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    } @else {
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    }
                </button>
            </div>
            <div class="treeContainer">
                @for (section of treeData; track section) {
                    <div
                        class="personOrSection"
                        [style.background-color]="section.hovered ? 'grey' : ''"
                        [style.color]="section.hovered ? 'white' : ''"
                        [style.height.px]="section.height - 1"
                    >
                        @if (section.isChild) {
                            @if (section.picture) {
                                <!--                        Here has to be the picture-->
                            } @else {
                                <div class="circle">{{ section.shortName }}</div>
                            }
                        } @else {
                            <button class="toggleButton" mat-icon-button (click)="toggleSection(section.name)">
                                @if (section.showChildren) {
                                    <mat-icon>keyboard_arrow_down</mat-icon>
                                } @else {
                                    <mat-icon>keyboard_arrow_up</mat-icon>
                                }
                            </button>
                        }
                        @if (showPersons) {
                            {{ section.name }}
                        }
                    </div>
                    @if (section.showChildren) {
                        @for (person of section.children; track person) {
                            <div
                                class="personOrSection"
                                [style.background-color]="person.hovered ? 'grey' : ''"
                                [style.color]="person.hovered ? 'white' : ''"
                                [style.height.px]="person.height"
                            >
                                @if (person.picture) {
                                    <!--                        Here has to be the picture-->
                                } @else {
                                    <div class="circle">{{ person.shortName }}</div>
                                }
                                @if (showPersons) {
                                    {{ person.name }}
                                }
                            </div>
                        }
                        <mat-divider></mat-divider>
                    }
                    @if (!section.isChild && (!section.children || !section.showChildren)) {
                        <mat-divider></mat-divider>
                    }
                }
            </div>
        </div>
        <div #calendarContent class="calendarContent">
            <div class="timeTable">
                <table
                    [style.height.px]="(timeFrameHeaders!.bigHeader.length !== 0 ? 80 : 40)"
                    [style.width.px]="calendarWidth"
                    class="time-sch-table"
                >
                    <tr *ngIf="timeFrameHeaders?.bigHeader">
                        @for (bigHeader of timeFrameHeaders?.bigHeader; track bigHeader) {
                            <td [colSpan]="bigHeader.smallHeaderIds.length"
                                (click)="currentPeriod?.headerClickable && headerClicked(bigHeader.start, true)"
                                [style.cursor]="currentPeriod?.headerClickable ? 'pointer' : 'auto'">
                                {{ bigHeader.name }}
                            </td>
                        }
                    </tr>
                    <tr *ngIf="timeFrameHeaders?.smallHeader">
                        @for (smallHeader of timeFrameHeaders?.smallHeader; track smallHeader) {
                            <td [style.background-color]="smallHeader.hovered ? 'grey' : ''"
                                [style.color]="smallHeader.hovered ? 'white' : ''"
                                (click)="currentPeriod?.headerClickable && headerClicked(smallHeader.start, false)"
                                [style.cursor]="currentPeriod?.headerClickable ? 'pointer' : 'auto'">
                                {{ smallHeader.name }}
                            </td>
                        }
                    </tr>
                </table>
                @if (currentMinute >= 0 && currentMinute * minuteWidth <= calendarWidth) {
                    <span class="currentTime"
                          [style.left.px]="currentMinute * minuteWidth - 5"
                    >&#9660;</span>
                }
            </div>
            <div
                [style.width.px]="calendarWidth"
                class="calendarGrid"
            >
                @if (timeFrameHeaders) {
                    <calendar-grid
                        [columnWidth]="cellWidth"
                        [totalColumns]="timeFrameHeaders.smallHeader.length"
                        [allRows]="rowsData"
                        [eventItems]="eventItems"
                        [changePersons]="changePersons"
                        [groups]="groups"
                        [startEndValue]="startAndEnd"
                        [minuteWidth]="minuteWidth"
                        [maxHeight]="maxHeight - (timeFrameHeaders!.bigHeader.length !== 0 ? 80 : 40)"
                        (cellEvent)="onCellClicked($event)"
                        (allRowsChange)="onAllRowsChange($event)"
                    ></calendar-grid>
                }
            </div>
        </div>
    </div>
</div>

