.headerContainer {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fdfbff;
}

.headerButtons {
    position: absolute;
    right: 10px;
    display: flex;
    gap: 8px;
}

.headerPeriods {
    position: absolute;
    left: 0;
    display: flex;
    gap: 8px;
}

h1 {
    margin: 0;
    flex: 1;
    text-align: center;
}

.iconButton {
    width: 30px;
    height: 30px;
}
