<div class="headerContainer">
    <h2>{{title}}</h2>
    <div class="headerPeriods">
        <mat-button-toggle-group [(ngModel)]="periodIndex" (change)="switchPeriod($event)">
            @for (period of periods; track period; let idx = $index) {
                <mat-button-toggle [value]="idx">{{ period.name }}</mat-button-toggle>
            }
        </mat-button-toggle-group>
    </div>
    <div class="headerButtons">
        <button mat-button (click)="changeTimeFrame('today')">today</button>
        <button class="iconButton" mat-fab (click)="changeTimeFrame('prev')" matTooltip="prev">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button class="iconButton" mat-fab (click)="changeTimeFrame('next')" matTooltip="next">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
</div>
